name: Greetings

on: [pull_request_target]

jobs:
  greeting:
    name: Greet First-Time Contributors
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue_message: "Thank you for reporting your first issue to the open-source anaStruct project! A maintainer should be along shortly to review your issue."
        pr_message: "Thank you so much for contributing to the open-source anaStruct project! Your contribution will help thousands of engineers work more efficiently and accuractely.\n\nNow that you've created your first pull request here, please don't go away; take a look at the bottom of this page for the automated checks that should already be running. If they pass, great! If not, please click on 'Details' and see if you can fix the problem they've identified. Keep in mind that this repository uses the `black` autoformatter, `pylint` linter, and `mypy` type-checking; the most common problems can be fixed by making sure you've installed and run those systems. A maintainer should be along shortly to review your pull request and help get it added to anaStruct!"
