name: Release

on:
  # push:
  #    # Sequence of patterns matched against refs/tags
  #   tags:
  #     - 'release-v*' # Push events to matching release-v*, i.e. release-v1.0, release-v20.15.10
  release:
    types: [published, edited]
jobs:
  build:
    name: Build Python Release Package
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.7"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r plot_requirements.txt
          pip install -r test_requirements.txt
      - name: Run linting check with pylint
        run: |
          pylint --rcfile .pylintrc ./anastruct
      - name: Run formatting checks with black
        run: |
          black --check .
      - name: Run type checks with mypy
        run: |
          mypy
      - name: Run FEM tests with unittest
        run: |
          python setup.py install
          python ./anastruct/fem/tests/test.py
      - name: Install pypa/build
        run: |
          pip install build
      - name: Build a binary wheel and a source tarball
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
          .
      - name: Publish to pypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASS }}
