name: Python build & test

on: [pull_request]

jobs:
  min_build:
    name: Run Code Checks and Tests on Python 3.12
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade poetry
          poetry install
      - name: Run linting check with pylint
        run: |
          poetry run pylint ./anastruct
      - name: Run formatting checks with black
        run: |
          poetry run black --check .
      - name: Run type checks with mypy
        run: |
          poetry run mypy -p anastruct
      - name: Run FEM tests with pytest
        run: |
          poetry run pytest --pspec tests/

  run_tests:
    name: Run FEM Testing Suite on Multiple Python Versions
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version: ["3.10", "3.11", "3.13"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade poetry
          poetry install

      - name: Run FEM tests with pytest
        run: |
          poetry run pytest --pspec tests/
