name: Python tests

on: [pull_request]

jobs:
  min_build:
    name: Run Code Checks and Tests on Python 3.9
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev,test]
      - name: Run linting check with pylint
        run: |
          pylint ./anastruct
      - name: Run formatting checks with black
        run: |
          black --check .
      - name: Run type checks with mypy
        run: |
          mypy -p anastruct
      - name: Run FEM tests with pytest
        run: |
          python -m pytest --pspec tests/
  build:
    name: Run FEM Testing Suite on Multiple Python Versions
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version: ["3.8", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev,test]

      - name: Run FEM tests with pytest
        run: |
          python -m pytest --pspec tests/
